Repository klaasnicolaas/github-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 37.153.2
    hooks:
      - id: renovate-config-validator
        name: 🤖 Validate Renovate Config
  - repo: local
    hooks:
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: poetry run check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: poetry run detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗 Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: poetry run yamllint

Add spoolman package to sync group
  .github/sync.yml
Due: check-yaml, yamllint

Add spoolman package to sync group (#360)
  .github/sync.yml
Due: check-yaml, yamllint

Update Python devcontainer image to v3.14
  python_package/.devcontainer/devcontainer.json
Due: check-json

Update Python devcontainer image to v3.14 (#421)
  python_package/.devcontainer/devcontainer.json
Due: check-json

Protect central Python configuration from legacy sync
  .github/sync.yml
Due: check-yaml, yamllint

Clarify central default ownership in sync exclusions
  .github/sync.yml
Due: check-yaml, yamllint

Protect central GitHub defaults from legacy synchronization (#443)
  .github/sync.yml
Due: check-yaml, yamllint

Protect community defaults from legacy synchronization
  .github/sync.yml
Due: check-yaml, yamllint

Exclude migrated community files from legacy sync (#444)
  .github/sync.yml
Due: check-yaml, yamllint

Adopt shared release, dependency and label configuration
  .github/FUNDING.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/renovate.json
  .github/sync.yml
  .github/workflows/labels.yaml
  .github/workflows/release-drafter.yaml
  README.md
  python_package/dependabot.yml
  python_package/renovate.json
Due: check-json, check-yaml, yamllint

Retire duplicated shared configuration and protect fleet adoption (#445)
  .github/FUNDING.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/renovate.json
  .github/sync.yml
  .github/workflows/labels.yaml
  .github/workflows/release-drafter.yaml
  README.md
  python_package/dependabot.yml
  python_package/renovate.json
Due: check-json, check-yaml, yamllint

Retire personal-package and template file synchronization
  .github/sync.yml
  python_package/.devcontainer/devcontainer.json
  python_package/.gitignore
Due: check-json, check-yaml, yamllint

Retire personal-package and template file sync (#449)
  .github/sync.yml
  python_package/.devcontainer/devcontainer.json
  python_package/.gitignore
Due: check-json, check-yaml, yamllint
