Repository klaasnicolaas/github-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 37.153.2
    hooks:
      - id: renovate-config-validator
        name: 🤖 Validate Renovate Config
  - repo: local
    hooks:
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: poetry run check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: poetry run check-merge-conflict
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: poetry run detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗 Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: poetry run yamllint

Add powerfox to sync list
  .github/sync.yml
Due: check-yaml, yamllint

Add powerfox to sync list (#258)
  .github/sync.yml
Due: check-yaml, yamllint

Remove unnecessary rules from renovate.json and pre-commit-config.yaml
  .github/renovate.json
  .pre-commit-config.yaml
Due: check-json, check-yaml, yamllint

Remove Renovate configuration check
  .github/workflows/linting.yaml
Due: check-yaml, yamllint

Remove unnecessary rules from renovate.json and pre-commit-config.yaml (#259)
  .github/renovate.json
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
Due: check-json, check-yaml, yamllint

Add lock and stale workflows
  github/workflows/lock.yaml
  github/workflows/stale.yaml
Due: check-yaml, yamllint

Add lock and stale workflows (#269)
  github/workflows/lock.yaml
  github/workflows/stale.yaml
Due: check-yaml, yamllint

Update poetry installation command and disable package mode
  README.md
  pyproject.toml
Due: check-toml

Update poetry installation command and disable package mode (#270)
  README.md
  pyproject.toml
Due: check-toml

Add python-nednl to the list of Python repositories
  .github/sync.yml
Due: check-yaml, yamllint

Add python-nednl to the list of Python repositories (#271)
  .github/sync.yml
Due: check-yaml, yamllint

Exclude FUNDING.yml from sync.yml
  .github/sync.yml
Due: check-yaml, yamllint

Exclude FUNDING.yml from sync.yml (#272)
  .github/sync.yml
Due: check-yaml, yamllint

Update dependencies and lock files
  poetry.lock
Due: none

Update lock.yaml workflow to use secrets.GITHUB_TOKEN
  github/workflows/lock.yaml
Due: check-yaml, yamllint

Update lock.yaml workflow to use secrets.GITHUB_TOKEN (#278)
  github/workflows/lock.yaml
Due: check-yaml, yamllint

Rename sync labels file
  github/workflows/sync-labels.yaml
Due: check-yaml, yamllint

Move to new action for PR label validation
  github/workflows/pr-labels.yaml
Due: check-yaml, yamllint

Move to new action for PR label validation (#292)
  github/workflows/pr-labels.yaml
  github/workflows/sync-labels.yaml
Due: check-yaml, yamllint

Add python-solcast-pv to sync list
  .github/sync.yml
Due: check-yaml, yamllint

Add python-solcast-pv to sync list (#294)
  .github/sync.yml
Due: check-yaml, yamllint

Update release-drafter template with notification instructions
  .github/release-drafter.yml
  github/release-drafter.yml
Due: check-yaml, yamllint

Update release-drafter template with notification instructions (#295)
  .github/release-drafter.yml
  github/release-drafter.yml
Due: check-yaml, yamllint

Update PR Labels workflow to use latest version of action-pr-labels
  github/workflows/pr-labels.yaml
Due: check-yaml, yamllint

Update PR Labels workflow to use latest version of action-pr-labels (#296)
  github/workflows/pr-labels.yaml
Due: check-yaml, yamllint

Update devcontainer.json with new Ruff code formatter
  python_package/.devcontainer/devcontainer.json
Due: check-json

Update devcontainer.json with new Ruff code formatter (#297)
  python_package/.devcontainer/devcontainer.json
Due: check-json

Add python-autarco to sync list
  .github/sync.yml
Due: check-yaml, yamllint

Add python-autarco to sync list (#298)
  .github/sync.yml
Due: check-yaml, yamllint

Update lock used github action and stale schedule
  github/workflows/lock.yaml
  github/workflows/stale.yaml
Due: check-yaml, yamllint

Update lock used github action and stale schedule (#299)
  github/workflows/lock.yaml
  github/workflows/stale.yaml
Due: check-yaml, yamllint

Change deprecated stage names
  .pre-commit-config.yaml
Due: check-yaml, yamllint

Change deprecated stage names (#314)
  .pre-commit-config.yaml
Due: check-yaml, yamllint

Update development installation instructions
  README.md
Due: none

Update development installation instructions (#317)
  README.md
Due: none

Update devcontainer configuration for Python 3.13 and enhance VSCode settings
  python_package/.devcontainer/devcontainer.json
Due: check-json

Fix devcontainer image reference and update feature sources
  python_package/.devcontainer/devcontainer.json
Due: check-json

Update devcontainer configuration for Python 3.13 (#358)
  python_package/.devcontainer/devcontainer.json
Due: check-json

Add permissions to linting and PR labels workflows
  .github/workflows/linting.yaml
  github/workflows/pr-labels.yaml
Due: check-yaml, yamllint

Add permissions to linting and PR labels workflows (#359)
  .github/workflows/linting.yaml
  github/workflows/pr-labels.yaml
Due: check-yaml, yamllint
